:root {
  --silver-lake-blue: #6486ad;
  --prussian-blue: #222b3a;
  --yinmn-blue: #305782;
  --french-gray: #cad0db;
  --blue-ncs: #048ccd;
  --french-gray-transperent: #cad0db83;
  --blue-ncs-light: #9bdfff;
}
